/* ----------------------GRID LAYOUT---------------------- */
body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50% 50%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#current-location-section {
  grid-area: 1 / 1 / 2 / 2;
}

#search-and-history-section {
  grid-area: 2 / 1 / 3 / 2;
}

#main {
  grid-area: 1 / 2 / 3 / 5;
}

/* ----------------------GLOBAL STYLES---------------------- */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(to bottom, pink, blue);
  background-attachment: fixed;
  margin: 2rem 5rem;
}

.glass-bg {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.25)
  );
  padding: 2rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
}

.container {
  text-align: center;
}

button {
  all: unset;
  text-transform: capitalize;
  border-radius: 5rem;
  padding: 0.5rem;
  width: 50%;
  background: black;
  color: white;
  text-align: center;
  margin: 0.5rem 0;
}

button:hover {
  background-color: lightseagreen;
}

.pseudo-header {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem;
}

/* .no-current-location p,
button,
img {
  margin: 0.5rem;
} */

/* ----------------------CURRENT LOCATION DIV STYLES---------------------- */
/* .no-current-location {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.search-placeholder-icon {
  width: 5rem;
  height: auto;
}

#city-name {
  text-transform: capitalize;
} */

/* ----------------------SEARCH  & HISTORY DIV STYLES---------------------- */
#clear-search-history-button {
  background: rgba(0, 0, 0, 0.5);
  margin: 1.5rem;
  margin-bottom: 2.5rem;
}

#clear-search-history-button:hover {
  background: rgba(255, 0, 0, 0.75);
  color: white;
}

/* ----------------------MAIN DIV STYLES---------------------- */
#main > .glass-bg {
  height: 80.5%;
}

#city-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#city-name {
  text-transform: capitalize;
  font-size: 4rem;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

/* ----------------------FIVE DAY FORECAST---------------------- */
#five-day-forecast {
  text-align: center;
}

#five-day-icon-container,
#five-day-text-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}

#five-day-container {
  border: 1px solid red;
}

/* SMALL DESKTOP */

/* TABLET */
@media only screen and (max-width: 1007px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
  }

  #current-location-section {
    grid-area: 1 / 1 / 2 / 2;
  }

  #search-and-history-section {
    grid-area: 1 / 2 / 2 / 3;
  }

  #main {
    grid-area: 2 / 1 / 3 / 3;
  }

  #five-day-icon-container,
  #five-day-text-container {
    display: grid;
    grid-template-columns: 2fr;
    justify-content: center;
  }
}

/* MOBILE */
@media only screen and (max-width: 590px) {
  body {
    display: flex;
    flex-flow: column wrap;
  }
}
